.red-text {
    color: red;
  }
  
  .green-text {
    color: green;
  }

  .black-text{
    color: black;
  }

  .cyan-text{
    color: cyan;
  }
  .override {
    display: "block";
    margin: "0 auto";
    border-color: "red";
  };