

aside {
	transition: all 2s ease;
	top: 0;
	position: fixed;
	display: flex;
	flex-direction: column;
	background: white;
	width: 250px;
	min-height: 100vh;
	padding: 2rem;
	transition: ease-out 0.3s;
	justify-content: space-between;
    left: 0;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

aside div {
	display: flex;
	transition: all 2s ease;
	flex-direction: column;
	gap: 1rem;
}
.link {
	color: black;
	text-decoration: none;
	font-size: small;
	overflow: hidden;
	white-space: nowrap;
}
.visible {
	transition: all 2s ease;
	display: none;
}

.icon {
	min-height: 25px;
	max-height: 25px;
	min-width: 25px;
}

.wrap {
	transition: all 2s ease;
	display: flex;
}

.log-out {
	margin-top: 3rem;
	margin-left: -10px;
	position: static;
	bottom: 0;
}
.sidebar-footer a {
    padding: 15px;
    width: 33.333337%;
    float: left;
    text-align: center;
    font-size: 18px;
}



